.footer {
  text-align: center;

  &__top {
    background-color: black;
    padding: 40px 0;
    margin: 0;
  }

  &__bottom {
    background-color: #182629;
    height: 40px;
    color: white;
    padding-top: 15px;
  }

  &__logo {
    width: 40px;
  }
}
