body,
html,
h1,
h2,
p {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
}

.hidden {
  display: none;
}

@import "navbar.scss";

@import "hero.scss";

@import "beer.scss";

@import "footer.scss";
